<!-- <app-hello *ngIf="data" name="{{ name }}"></app-hello>
<p>this is lifecyclehook methods</p>
<input [(ngModel)]="name" />
<button (click)="toggle()">Toggle</button>
 -->
<!-- <h1>lifecycleconcept</h1> -->
<!-- <input type="text" [([(ngModel)]="value")] -->
<!-- <input type="text" [(ngModel)]="value">
<button (click)="showdata()">show</button>

 <app-lifecycle value="{{value}}" *ngIf="content"></app-lifecycle> -->
 <!-- <app-onewaybinding></app-onewaybinding> -->
 <!-- <app-twowaybinding></app-twowaybinding> -->
<!-- <app-lifecycle></app-lifecycle> -->


<app-hello></app-hello>